[flake8]
max-line-length = 88
ignore = E203,W503,E501,F401,F841,E722,F541,E402
exclude = __pycache__,.git,.venv,venv,build,dist,*.egg-info
per-file-ignores =
    tests/*.py: E402,F401,F841
    config/*.py: F401
